@{
    ViewData["Title"] = "Privacy";
}

<section class="content" style="padding-top: 1vh; background-color: #f8f9fa; color: #343a40;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="border: none; border-radius: .25rem;">
                    <div class="card-body">
                        <h1 class="text-center mb-4" style="font-size: 3rem;">Política de Privacidade</h1>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Na EcoSupport, estamos comprometidos em proteger a privacidade dos nossos usuários. Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações pessoais quando você utiliza nossos serviços.</p>
                        <h2 class="text-center mb-4" style="font-size: 2rem;">Coleta de Informações</h2>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Coletamos informações pessoais fornecidas voluntariamente por você durante o cadastro em nossa plataforma, incluindo nome, endereço de e-mail, e outras informações relevantes para fornecer nossos serviços.</p>
                        <h2 class="text-center mb-4" style="font-size: 2rem;">Uso das Informações</h2>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Utilizamos suas informações pessoais para fornecer, manter e melhorar nossos serviços, bem como para enviar comunicações relacionadas à sua conta e aos projetos filantrópicos que você apoia.</p>
                        <h2 class="text-center mb-4" style="font-size: 2rem;">Compartilhamento de Informações</h2>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer nossos serviços ou quando exigido por lei. Sempre obtemos seu consentimento antes de compartilhar suas informações.</p>
                        <h2 class="text-center mb-4" style="font-size: 2rem;">Segurança das Informações</h2>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, lembre-se de que nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro.</p>
                        <h2 class="text-center mb-4" style="font-size: 2rem;">Seus Direitos</h2>
                        <p style="font-size: 1.2rem; line-height: 2rem; text-align: justify;">Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Entre em contato conosco se precisar de assistência ou tiver dúvidas sobre nossa Política de Privacidade.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
