@model TPC_EcoSupport.Models.TbUsuarios

@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<div class="login-page" style="background-color:#0E1015">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Faça seu login</p>

                <form asp-controller="TbUsuarios" asp-action="EfetuarLogin" method="post">
                    <div class="input-group mb-3">
                        <input name="Email" type="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="input-group mb-3">
                        <input name="Senha" type="password" class="form-control" placeholder="Senha" required>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Logar</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1">
                    <a href="forgot-password.html">Esqueci minha senha</a>
                </p>
                <p class="mb-0">
                    <a asp-controller="TbUsuarios" asp-action="CadastroPage" class="text-center">Cadastrar</a>
                </p>
            </div>
        </div>
    </div>
</div>
